<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <iframe class="position-absolute w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.4736630784196!2d105.73291811424569!3d21.053735992302627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345457e292d5bf%3A0x20ac91c94d74439a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1649675141087!5m2!1svi!2s"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="contact-form bg-light p-4 p-lg-5 my-lg-5">
                    <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Liên hệ</h6>
                    <h1 class="mb-4">Đặt bất cứ liên hệ nào</h1>
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" #form="ngForm"
                        (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-sm-6 control-group">
                                <input type="text" class="form-control border-0 p-4" id="name" placeholder="Họ tên"
                                    required="required" data-validation-required-message="Please enter your name"
                                    name="name" [(ngModel)]="contactModel.name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-6 control-group">
                                <input type="email" class="form-control border-0 p-4" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Please enter your email"
                                    name="email" [(ngModel)]="contactModel.email" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <input name="subject" [(ngModel)]="contactModel.subject" type="text"
                                class="form-control border-0 p-4" id="subject" placeholder="Chủ đề " required="required"
                                data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control border-0 py-3 px-4" rows="3" id="message"
                                placeholder="Nội dung" required="required"
                                data-validation-required-message="Please enter your message" name="message"
                                [(ngModel)]="contactModel.message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Gửi liên hệ
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->