<!-- Footer Start -->
<div class="footer container-fluid position-relative bg-dark py-5" style="margin-top: 90px;">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6 pr-lg-5 mb-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="mb-3 text-white"><span class="text-primary">PERFECT</span> Beauty</h1>
                </a>
                <p>Là thương hiệu hàng đầu trong lĩnh vực điều trị và chăm sóc da chuyên nghiệp, Perfect Beauty đã trở
                    thành địa chỉ quen thuộc của khách hàng có nhu cầu làm đẹp.</p>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Số 298 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+096 978 3429</p>
                <p><i class="fa fa-envelope mr-2"></i>hd.thanh1303@gmal.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-lg btn-primary btn-lg-square mr-2"
                        href="https://www.facebook.com/hoangthanh1303"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square mr-2"
                        href="https://www.facebook.com/hoangthanh1303"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square" href="https://www.facebook.com/hoangthanh1303"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-5">
                <div class="row">
                    <div class="col-sm-6 mb-5">
                        <h5 class="text-white text-uppercase mb-4">Đường dẫn</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white-50 mb-2" routerLink="/home"><i class="fa fa-angle-right mr-2"></i>Trang
                                chủ</a>
                            <a class="text-white-50" routerLink="/contact"><i class="fa fa-angle-right mr-2"></i>Liên
                                hệ</a>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-5">
                        <h5 class="text-white text-uppercase mb-4">Dịch vụ của chúng tôi</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white-50 mb-2" routerLink="/home"><i class="fa fa-angle-right mr-2"></i>Mát
                                xa toàn
                                thân</a>
                            <a class="text-white-50 mb-2" routerLink="/home"><i class="fa fa-angle-right mr-2"></i>Trị
                                liệu da
                                mặt</a>
                            <a class="text-white-50 mb-2" routerLink="/home"><i class="fa fa-angle-right mr-2"></i>Chăm
                                sóc da</a>
                            <a class="text-white-50" routerLink="/home"><i class="fa fa-angle-right mr-2"></i>Chăm sóc
                                móng</a>
                        </div>
                    </div>
                    <!-- <div class="col-sm-12 mb-5">
                        <h5 class="text-white text-uppercase mb-4">Newsletter</h5>
                        <div class="w-100">
                            <div class="input-group">
                                <input type="text" class="form-control border-light" style="padding: 30px;"
                                    placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary px-4">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top py-4"
    style="border-color: rgba(256, 256, 256, .15) !important;">
    <div class="container">
        <div class="row" style="display: flex; justify-content: center;">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white text-center">&copy; <a href="#">Perfect Spa</a>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>